@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

@media only screen and (max-width: 768px) {
    .btn.btn-outline-danger:hover {
      background-color: #f8dfce;
      color:#dc3545;
    }
  };

head{
    margin-left:0px;
    margin-right:0px;
    font-family: 'Yeon Sung', cursive;
    color : #632e21;
    background-color: #f8dfce;
    

}
body{
    margin-left:0px;
    margin-right:0px;
    font-family: 'Yeon Sung', cursive;
    font-size: 23px;
    text-align: center;
    color : #632e21;
    background-color: #f8dfce;

}


footer{
    font-size: 15px;
}

html{
    margin-left:0;
    margin-right:0;
  background-color: #f8dfce;
}
article{
    display: flex;
    
    flex-direction: column;
}

.question{
    display:none;
}
.result{
    display:none;
}
.kakao_ad{
    width: 320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
}
.banner-img{
    width:250px;
}

#img{
    width:300px;
    height:300px;
    margin: 0 auto;
}
#fun{
    width:380px;
    height:300px;
    margin: 0 auto;
}
